<section id="gallery" class="section-padding">

<h2 class="text-5xl title-font text-center text-[#70585b] mb-16">
    Dessert Gallery
</h2>

<div class="max-w-7xl mx-auto grid md:grid-cols-3 gap-6">

<img src="https://images.unsplash.com/photo-1488477181946-6428a0291777"
class="rounded-3xl h-96 object-cover w-full">

<img src="https://images.unsplash.com/photo-1551024601-bec78aea704b"
class="rounded-3xl h-96 object-cover w-full">

<img src="https://images.unsplash.com/photo-1612203985729-70726954388c"
class="rounded-3xl h-96 object-cover w-full">

</div>

</section>