<section id="menu" class="section-padding bg-[#f5f5dc]">

<div class="max-w-7xl mx-auto">

<h2 class="text-5xl title-font text-center text-[#70585b] mb-16">
    Our Sweet Selection
</h2>

<div class="grid md:grid-cols-3 gap-10">

<div class="glass rounded-3xl overflow-hidden">
    <img src="https://images.unsplash.com/photo-1612203985729-70726954388c"
    class="h-72 w-full object-cover">

    <div class="p-6">
        <h3 class="text-2xl title-font mb-3">Rose Cupcakes</h3>
        <p>$18</p>
    </div>
</div>

<div class="glass rounded-3xl overflow-hidden">
    <img src="https://images.unsplash.com/photo-1558326567-98ae2405596b"
    class="h-72 w-full object-cover">

    <div class="p-6">
        <h3 class="text-2xl title-font mb-3">Macarons</h3>
        <p>$14</p>
    </div>
</div>

<div class="glass rounded-3xl overflow-hidden">
    <img src="https://images.unsplash.com/photo-1464306076886-da185f6a9d05"
    class="h-72 w-full object-cover">

    <div class="p-6">
        <h3 class="text-2xl title-font mb-3">Vanilla Tart</h3>
        <p>$16</p>
    </div>
</div>

</div>
</div>
</section>